html, body {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span.active {
  background-color: gray;
}

.col-xs {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%
}

.col-xs-12 {
  flex: 0 0 100%;
}

.nav-toggle .k-i-hamburger {
  font-size: 32px;
}

.text-xs-center img {
  max-width: 100%;
}